@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg: #121212;
    --el: #313131;
    --submit-blue: #337691;
    --submit-dark-blue: #2b657c;
    --red: #cf6b6b;
    --dark-red: #be5e5e;
    --error-red: #af4646;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

#error {
    text-align: center;
    background-color: var(--error-red);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px #202020;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--el);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1em black;
}

.settings {
    position: absolute;
    top: 20px;
    right: 20px;
}

.settings img {
    width: 24px;
    height: 24px;
    filter: invert(1) opacity(0.5);
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.settings img:hover {
    transform: rotate(20deg);
}

#settings-popup {
    position: absolute;
    left: 55px;
    top: -20px;
    box-shadow: 0 0 1em black;
    border-radius: 5px;
    background-color: var(--el);
    padding: 20px;
    padding-top: 0;
}

/* FORM AND INPUTS */

.form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.input-container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    padding: 5px;
    padding-bottom: 0;
    width: 150px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #929292;
    color: #fff;
    box-shadow: 0 2px #202020;
    caret-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:not(#result)::placeholder {
    color: #929292;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #cfcfcf;
}

.input-container span, .input-container #swap-div {
    color: #ccc;
    margin: 0 20px;
    align-self: center;
}

#top-input {
    margin-bottom: 40px;
}

#result-container {
    position: relative;
}

#result {
    font-size: 2.5em;
    border-bottom: 2px solid #5a5a5a;
    transition: all ease-in-out 100ms;
}

#result::placeholder {
    color: #5a5a5a;
}

#result.calc {
    border-bottom: 2px solid #64da64;
}

#ac-div {
    align-self: center;
    color: #929292;
}

.round-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    position: relative;
}

#round {
    display: block;
    width: 40px;
    font-size: 1.5em;
    text-align: center;
    color: #ccc;
}

#round-label {
    position: absolute;
    bottom: -18px;
    font-size: 0.7em;
    text-align: center;
    color: #929292;
}

/* BUTTONS */

button {
    font-family: 'Poppins', sans-serif;
}

button:focus {
    outline: none;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.btns button {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 7.5px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px #202020;
    cursor: pointer;
}

.btns button:active {
    transform: translateY(2px);
    box-shadow: none;
}

#submit {
    margin-bottom: 20px;
    background-color: var(--submit-blue);
    border: 2px solid var(--submit-blue);
}

#submit:hover {
    background-color: var(--submit-dark-blue);
    border-color: var(--submit-dark-blue);
}

#clear {
    background-color: var(--red);
    border: 2px solid var(--red);
}

#clear:hover {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}

#swap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

#swap:hover {
    transform: rotateY(180deg);
}

#copy-container {
    position: absolute;
    right: 0;
    bottom: 5px;
    padding: 10px 5px 0;
    margin-bottom: 5px;
    background-color: rgb(49, 49, 49, 0.8);
}

#copy {
    width: 24px;
    height: 24px;
    filter: invert(1) opacity(0.7);
    cursor: pointer;
}

#copy:hover {
    opacity: 0.8;
}

#copied {
    background-color: #2b2b2b;
    color: #ccc;
    font-size: 0.8em;
    position: absolute;
    top: -35px;
    right: 0;
    transform: translateX(55%);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px #202020;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        margin-bottom: 20px;
        display: block;
        width: 300px;
    }

    #swap {
        transform: rotate(90deg);
    }

    #copy-container {
        bottom: 20px
    }
}

@media only screen and (max-width: 620px) {
    .input-container input {
        display: block;
        width: 350px;
    }

    .settings {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .input-container input {
        display: block;
        width: 250px;
    }
}

@media only screen and (max-width: 360px) {
    .input-container input {
        display: block;
        width: 200px;
    }
}

@media only screen and (max-height: 790px) {
    .input-container {
        margin: 0;
        padding: 0;
    }

    #top-input {
        margin-bottom: 20px;
    }

    .input-container input {
        margin-bottom: 10px;
    }

    #swap {
        display: none;
    }
}

@media only screen and (max-height: 620px) {
    .main {
        padding: 5px
    }

    .title h1 {
        font-size: 32px;
    }

    #top-input {
        margin-bottom: 10px;
    }

    .input-container input {
        margin-bottom: 10px;
    }

    .btns {
        margin: 0;
    }

    #submit {
        margin-bottom: 5px;
    }
}
