@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg: #121212;
    --el: #313131;
    --submit-blue: #337691;
    --submit-dark-blue: #2b657c;
    --red: #cf6b6b;
    --dark-red: #be5e5e;
    --error-red: #af4646;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}

.hidden {
    display: none;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

#error {
    text-align: center;
    background-color: var(--error-red);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px #202020;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--el);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1em black;
}

/* FORM AND INPUTS */

.form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.input-container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-container input {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    padding: 5px;
    width: 150px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #929292;
    color: #fff;
    box-shadow: 0 2px #202020;
    caret-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:not(#result)::placeholder {
    color: #929292;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #cfcfcf;
}

.input-container span, .input-container #swap-div {
    color: #ccc;
    margin: 0 20px;
    align-self: center;
}

#top-input {
    margin-bottom: 40px;
}

#result {
    border-bottom: 2px solid #5a5a5a;
}

#result::placeholder {
    color: #5a5a5a;
}

#ac-div {
    align-self: center;
    color: #929292;
}

/* BUTTONS */

button {
    font-family: 'Poppins', sans-serif;
}

button:focus {
    outline: none;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.btns button {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 7.5px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px #202020;
    cursor: pointer;
}

.btns button:active {
    transform: translateY(2px);
    box-shadow: none;
}

#submit {
    margin-bottom: 20px;
    background-color: var(--submit-blue);
    border: 2px solid var(--submit-blue);
}

#submit:hover {
    background-color: var(--submit-dark-blue);
    border-color: var(--submit-dark-blue);
}

#clear {
    background-color: var(--red);
    border: 2px solid var(--red);
}

#clear:hover {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}

#swap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

#swap:hover {
    transform: rotateY(180deg);
}
